p{
    font-size: 20px;
}

header{
    margin-bottom: 50px;
}

.bajar_contenedor{
    margin-top: 130px;

}

.custom-column {
    margin-bottom: 125px;
}

.imagen, .imagen2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    padding: 20px;
}

.imagen2{
    width: 700px;
    height: 300px;
    padding: 20px;
}
  
.titulo, .subtitulo {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 6px;
}

.subtitulo{
    font-size: 4vh;
}


.services-container {
    background-color: #181717;
    box-shadow: 0 0 45px #454949;
    padding: 20px;
}

.services-container ul {
    list-style-type: none;
    padding-left: 0;
    color: #fff;
}

.services-container li {
    padding: 5px 10px;
}

.services-container li:before {
    content: "\2023";
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.texto_final{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.bajar_caja{
    padding-bottom: 90px;
}

/* Centrar texto */


p, b {
    margin-top: 1vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}

.t1 {
    margin-top: 20vh;
}

.t2 {
    margin-top: 28vh;
}

.t3 {
    margin-top: 26vh;
}

.t4 {
    margin-top: 20vh;
}

.t5 {
    margin-top: 39vh;
}

.t6 {
    margin-top: 20vh;
}

/* Mantener el header estatico */


.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.sticky-header h1 {
    margin: 0;
}

.sticky-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sticky-header nav ul li {
    display: inline;
    margin-right: 20px;
}

.sticky-header nav ul li:last-child {
    margin-right: 0;
}