header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.navegador{
    height: 70px;
    margin-left: 5px;
}

.fixed-button {
    position: fixed;
    top: 20px;
    right: 16px;
}
  

.dark-theme{
    background-color: #333;
    color: #fff;
}