body {
    margin: 0;
}
  
.carrusel {
    position: relative;
    z-index: 1;
    height: auto; /* Cambiado a 'auto' para que el carrusel se ajuste a su contenido */
    display: flex;
    align-items: center;
}

.carrusel-items {
    display: flex;
    overflow-x: hidden; /* Cambiado a 'auto' para permitir el desplazamiento horizontal */
    overflow-y: scroll;
    padding: 30px 0px;
    margin-top: 20px; /* Agregado margen superior para separar del contenido principal */
}

.carrusel-item {
    min-width: 300px;
    max-width: 300px;
    height: 400px;
    cursor: pointer;
    margin-right: 10px; /* Agregado margen derecho entre elementos del carrusel */
}

.carrusel-item img {
    width: 100%;
    height: 90%;
    object-fit: auto;
}

.carrusel-item:hover {
    transform: scale(1.2);
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 4vh;
    text-transform: uppercase;
    margin-top: 4vh;
}

.subtitulo_imagen { 
    color: #000000;
    margin: 7px 0;
    font-size: 4vh;
    font-weight: 600;
    font-family: 'Dancing Script';
}
